<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_KERN_A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Aringacute</string>
		<string>Atilde</string>
	</array>
	<key>@MMK_L_KERN_C</key>
	<array>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
	</array>
	<key>@MMK_L_KERN_D_1ST</key>
	<array>
		<string>D</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>Ddotbelow</string>
		<string>Eth</string>
	</array>
	<key>@MMK_L_KERN_E_1ST</key>
	<array>
		<string>E</string>
		<string>AE</string>
		<string>AEacute</string>
		<string>Eacute</string>
		<string>Ebreve</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Edotbelow</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>Etilde</string>
		<string>OE</string>
	</array>
	<key>@MMK_L_KERN_G</key>
	<array>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gcircumflex</string>
		<string>Gcommaaccent</string>
		<string>Gdotaccent</string>
	</array>
	<key>@MMK_L_KERN_I_1ST</key>
	<array>
		<string>I</string>
		<string>H</string>
		<string>Hbar</string>
		<string>Hcircumflex</string>
		<string>Hdotbelow</string>
		<string>Iacute</string>
		<string>Ibreve</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Idotbelow</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Itilde</string>
		<string>M</string>
	</array>
	<key>@MMK_L_KERN_J_1ST</key>
	<array>
		<string>J</string>
		<string>IJ</string>
		<string>Jcircumflex</string>
	</array>
	<key>@MMK_L_KERN_K_1ST</key>
	<array>
		<string>K</string>
		<string>Kcommaaccent</string>
	</array>
	<key>@MMK_L_KERN_L_1ST</key>
	<array>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lcommaaccent</string>
		<string>Ldot</string>
		<string>Lslash</string>
	</array>
	<key>@MMK_L_KERN_N_1ST</key>
	<array>
		<string>N</string>
		<string>Eng</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ncommaaccent</string>
		<string>Ndotaccent</string>
		<string>Ntilde</string>
	</array>
	<key>@MMK_L_KERN_O_1ST</key>
	<array>
		<string>O</string>
		<string>Oacute</string>
		<string>Obreve</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Odotbelow</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Oslashacute</string>
		<string>Otilde</string>
	</array>
	<key>@MMK_L_KERN_R_1ST</key>
	<array>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
		<string>Rdotbelow</string>
	</array>
	<key>@MMK_L_KERN_S</key>
	<array>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scircumflex</string>
		<string>Sdotbelow</string>
		<string>uni015E</string>
		<string>uni0218</string>
	</array>
	<key>@MMK_L_KERN_T</key>
	<array>
		<string>T</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>Tdotbelow</string>
		<string>uni0162</string>
		<string>uni021A</string>
	</array>
	<key>@MMK_L_KERN_U</key>
	<array>
		<string>U</string>
		<string>Uacute</string>
		<string>Ubreve</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Udotbelow</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
	</array>
	<key>@MMK_L_KERN_W</key>
	<array>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
	</array>
	<key>@MMK_L_KERN_Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
		<string>Ytilde</string>
	</array>
	<key>@MMK_L_KERN_Z_1ST</key>
	<array>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>Zdotbelow</string>
		<string>uni01C4</string>
		<string>uni01F1</string>
	</array>
	<key>@MMK_L_KERN_a_1ST</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>aringacute</string>
		<string>atilde</string>
	</array>
	<key>@MMK_L_KERN_b_1ST</key>
	<array>
		<string>b</string>
		<string>f_b</string>
		<string>f_f_b</string>
		<string>p</string>
		<string>s_p</string>
		<string>thorn</string>
	</array>
	<key>@MMK_L_KERN_c_1ST</key>
	<array>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>ccircumflex</string>
		<string>cdotaccent</string>
	</array>
	<key>@MMK_L_KERN_colon</key>
	<array>
		<string>colon</string>
		<string>semicolon</string>
	</array>
	<key>@MMK_L_KERN_d_1ST</key>
	<array>
		<string>d</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>ddotbelow</string>
	</array>
	<key>@MMK_L_KERN_e_1ST</key>
	<array>
		<string>e</string>
		<string>ae</string>
		<string>aeacute</string>
		<string>eacute</string>
		<string>ebreve</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>edotbelow</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>etilde</string>
		<string>oe</string>
	</array>
	<key>@MMK_L_KERN_f_1ST</key>
	<array>
		<string>f</string>
		<string>f_f</string>
	</array>
	<key>@MMK_L_KERN_g</key>
	<array>
		<string>g</string>
		<string>gbreve</string>
		<string>gcircumflex</string>
		<string>gcommaaccent</string>
		<string>gdotaccent</string>
	</array>
	<key>@MMK_L_KERN_guilsinglleft</key>
	<array>
		<string>guilsinglleft</string>
		<string>guillemotleft</string>
	</array>
	<key>@MMK_L_KERN_guilsinglright</key>
	<array>
		<string>guilsinglright</string>
		<string>guillemotright</string>
	</array>
	<key>@MMK_L_KERN_hyphen</key>
	<array>
		<string>hyphen</string>
		<string>emdash</string>
		<string>endash</string>
		<string>uni00AD</string>
	</array>
	<key>@MMK_L_KERN_i_1ST</key>
	<array>
		<string>i</string>
		<string>dotlessi</string>
		<string>f_f_i</string>
		<string>f_i</string>
		<string>iacute</string>
		<string>ibreve</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>idotbelow</string>
		<string>igrave</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>itilde</string>
	</array>
	<key>@MMK_L_KERN_j_1ST</key>
	<array>
		<string>j</string>
		<string>dotlessj</string>
		<string>f_f_j</string>
		<string>f_j</string>
		<string>ij</string>
		<string>jcircumflex</string>
	</array>
	<key>@MMK_L_KERN_k_1ST</key>
	<array>
		<string>k</string>
		<string>f_f_k</string>
		<string>f_k</string>
		<string>kcommaaccent</string>
	</array>
	<key>@MMK_L_KERN_l_1ST</key>
	<array>
		<string>l</string>
		<string>f_f_l</string>
		<string>f_l</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>lcommaaccent</string>
		<string>lslash</string>
	</array>
	<key>@MMK_L_KERN_n_1ST</key>
	<array>
		<string>n</string>
		<string>f_f_h</string>
		<string>f_h</string>
		<string>h</string>
		<string>hbar</string>
		<string>hcircumflex</string>
		<string>hdotbelow</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
		<string>ndotaccent</string>
		<string>ntilde</string>
	</array>
	<key>@MMK_L_KERN_o_1ST</key>
	<array>
		<string>o</string>
		<string>oacute</string>
		<string>obreve</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>odotbelow</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>oslashacute</string>
		<string>otilde</string>
		<string>schwa</string>
	</array>
	<key>@MMK_L_KERN_period_1ST</key>
	<array>
		<string>period</string>
		<string>comma</string>
		<string>quotedblbase</string>
		<string>quotesinglbase</string>
	</array>
	<key>@MMK_L_KERN_quoteleft</key>
	<array>
		<string>quoteleft</string>
		<string>quotedblleft</string>
	</array>
	<key>@MMK_L_KERN_quoteright</key>
	<array>
		<string>quoteright</string>
		<string>quotedblright</string>
	</array>
	<key>@MMK_L_KERN_quotesingle</key>
	<array>
		<string>quotesingle</string>
		<string>quotedbl</string>
	</array>
	<key>@MMK_L_KERN_r_1ST</key>
	<array>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
		<string>rdotbelow</string>
	</array>
	<key>@MMK_L_KERN_s_1ST</key>
	<array>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scircumflex</string>
		<string>sdotbelow</string>
		<string>uni015F</string>
		<string>uni0219</string>
	</array>
	<key>@MMK_L_KERN_t_1ST</key>
	<array>
		<string>t</string>
		<string>c_t</string>
		<string>f_f_t</string>
		<string>f_t</string>
		<string>s_t</string>
		<string>tbar</string>
		<string>tcaron</string>
		<string>tdotbelow</string>
		<string>uni0163</string>
		<string>uni021B</string>
	</array>
	<key>@MMK_L_KERN_u</key>
	<array>
		<string>u</string>
		<string>uacute</string>
		<string>ubreve</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>udotbelow</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
	</array>
	<key>@MMK_L_KERN_w</key>
	<array>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
	</array>
	<key>@MMK_L_KERN_y</key>
	<array>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ygrave</string>
		<string>ytilde</string>
	</array>
	<key>@MMK_L_KERN_z_1ST</key>
	<array>
		<string>z</string>
		<string>uni01C5</string>
		<string>uni01C6</string>
		<string>uni01F2</string>
		<string>uni01F3</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
		<string>zdotbelow</string>
	</array>
	<key>@MMK_R_KERN_A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Aringacute</string>
		<string>Atilde</string>
	</array>
	<key>@MMK_R_KERN_AE_2ND</key>
	<array>
		<string>AE</string>
		<string>AEacute</string>
	</array>
	<key>@MMK_R_KERN_C</key>
	<array>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
	</array>
	<key>@MMK_R_KERN_G</key>
	<array>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gcircumflex</string>
		<string>Gcommaaccent</string>
		<string>Gdotaccent</string>
	</array>
	<key>@MMK_R_KERN_I_2ND</key>
	<array>
		<string>I</string>
		<string>B</string>
		<string>D</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>Ddotbelow</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ebreve</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Edotbelow</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>Eth</string>
		<string>Etilde</string>
		<string>F</string>
		<string>H</string>
		<string>Hbar</string>
		<string>Hcircumflex</string>
		<string>Hdotbelow</string>
		<string>IJ</string>
		<string>Iacute</string>
		<string>Ibreve</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Idotbelow</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Itilde</string>
		<string>K</string>
		<string>Kcommaaccent</string>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lcommaaccent</string>
		<string>Lslash</string>
		<string>P</string>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
		<string>Rdotbelow</string>
		<string>Thorn</string>
	</array>
	<key>@MMK_R_KERN_J_2ND</key>
	<array>
		<string>J</string>
		<string>Jcircumflex</string>
	</array>
	<key>@MMK_R_KERN_N_2ND</key>
	<array>
		<string>N</string>
		<string>Eng</string>
		<string>M</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ncommaaccent</string>
		<string>Ndotaccent</string>
		<string>Ntilde</string>
	</array>
	<key>@MMK_R_KERN_O_2ND</key>
	<array>
		<string>O</string>
		<string>OE</string>
		<string>Oacute</string>
		<string>Obreve</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Odotbelow</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Oslashacute</string>
		<string>Otilde</string>
	</array>
	<key>@MMK_R_KERN_S</key>
	<array>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scircumflex</string>
		<string>Sdotbelow</string>
		<string>uni015E</string>
		<string>uni0218</string>
	</array>
	<key>@MMK_R_KERN_T</key>
	<array>
		<string>T</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>Tdotbelow</string>
		<string>uni0162</string>
		<string>uni021A</string>
	</array>
	<key>@MMK_R_KERN_U</key>
	<array>
		<string>U</string>
		<string>Uacute</string>
		<string>Ubreve</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Udotbelow</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
	</array>
	<key>@MMK_R_KERN_W</key>
	<array>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
	</array>
	<key>@MMK_R_KERN_Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
		<string>Ytilde</string>
	</array>
	<key>@MMK_R_KERN_Z_2ND</key>
	<array>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>Zdotbelow</string>
	</array>
	<key>@MMK_R_KERN_a_2ND</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>ae</string>
		<string>aeacute</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>aringacute</string>
		<string>atilde</string>
	</array>
	<key>@MMK_R_KERN_b_2ND</key>
	<array>
		<string>b</string>
		<string>thorn</string>
	</array>
	<key>@MMK_R_KERN_colon</key>
	<array>
		<string>colon</string>
		<string>semicolon</string>
	</array>
	<key>@MMK_R_KERN_d_2ND</key>
	<array>
		<string>d</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>ddotbelow</string>
		<string>q</string>
		<string>uni01C6</string>
		<string>uni01F3</string>
	</array>
	<key>@MMK_R_KERN_e_2ND</key>
	<array>
		<string>e</string>
		<string>c</string>
		<string>c_t</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>ccircumflex</string>
		<string>cdotaccent</string>
		<string>eacute</string>
		<string>ebreve</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>edotbelow</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>etilde</string>
	</array>
	<key>@MMK_R_KERN_f_2ND</key>
	<array>
		<string>f</string>
		<string>f_b</string>
		<string>f_f</string>
		<string>f_f_b</string>
		<string>f_f_h</string>
		<string>f_f_i</string>
		<string>f_f_j</string>
		<string>f_f_k</string>
		<string>f_f_l</string>
		<string>f_f_t</string>
		<string>f_h</string>
		<string>f_i</string>
		<string>f_j</string>
		<string>f_k</string>
		<string>f_l</string>
		<string>f_t</string>
	</array>
	<key>@MMK_R_KERN_g</key>
	<array>
		<string>g</string>
		<string>gbreve</string>
		<string>gcircumflex</string>
		<string>gcommaaccent</string>
		<string>gdotaccent</string>
	</array>
	<key>@MMK_R_KERN_guilsinglleft</key>
	<array>
		<string>guilsinglleft</string>
		<string>guillemotleft</string>
	</array>
	<key>@MMK_R_KERN_guilsinglright</key>
	<array>
		<string>guilsinglright</string>
		<string>guillemotright</string>
	</array>
	<key>@MMK_R_KERN_h_2ND</key>
	<array>
		<string>h</string>
		<string>germandbls</string>
		<string>hbar</string>
		<string>hcircumflex</string>
		<string>hdotbelow</string>
		<string>k</string>
		<string>kcommaaccent</string>
	</array>
	<key>@MMK_R_KERN_hyphen</key>
	<array>
		<string>hyphen</string>
		<string>emdash</string>
		<string>endash</string>
		<string>uni00AD</string>
	</array>
	<key>@MMK_R_KERN_i_2ND</key>
	<array>
		<string>i</string>
		<string>dotlessi</string>
		<string>iacute</string>
		<string>ibreve</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>idotbelow</string>
		<string>igrave</string>
		<string>ij</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>itilde</string>
	</array>
	<key>@MMK_R_KERN_j_2ND</key>
	<array>
		<string>j</string>
		<string>dotlessj</string>
		<string>jcircumflex</string>
	</array>
	<key>@MMK_R_KERN_l_2ND</key>
	<array>
		<string>l</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>lcommaaccent</string>
		<string>ldot</string>
		<string>lslash</string>
	</array>
	<key>@MMK_R_KERN_n_2ND</key>
	<array>
		<string>n</string>
		<string>eng</string>
		<string>m</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
		<string>ndotaccent</string>
		<string>ntilde</string>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
		<string>rdotbelow</string>
	</array>
	<key>@MMK_R_KERN_o_2ND</key>
	<array>
		<string>o</string>
		<string>eth</string>
		<string>oacute</string>
		<string>obreve</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>odotbelow</string>
		<string>oe</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>oslashacute</string>
		<string>otilde</string>
	</array>
	<key>@MMK_R_KERN_period_2ND</key>
	<array>
		<string>period</string>
		<string>comma</string>
		<string>ellipsis</string>
		<string>quotedblbase</string>
		<string>quotesinglbase</string>
	</array>
	<key>@MMK_R_KERN_quoteleft</key>
	<array>
		<string>quoteleft</string>
		<string>quotedblleft</string>
	</array>
	<key>@MMK_R_KERN_quoteright</key>
	<array>
		<string>quoteright</string>
		<string>quotedblright</string>
	</array>
	<key>@MMK_R_KERN_quotesingle</key>
	<array>
		<string>quotesingle</string>
		<string>quotedbl</string>
	</array>
	<key>@MMK_R_KERN_s_2ND</key>
	<array>
		<string>s</string>
		<string>s_p</string>
		<string>s_t</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scircumflex</string>
		<string>sdotbelow</string>
		<string>uni015F</string>
		<string>uni0219</string>
	</array>
	<key>@MMK_R_KERN_t_2ND</key>
	<array>
		<string>t</string>
		<string>tbar</string>
		<string>tcaron</string>
		<string>tdotbelow</string>
		<string>uni0163</string>
		<string>uni021B</string>
	</array>
	<key>@MMK_R_KERN_u</key>
	<array>
		<string>u</string>
		<string>uacute</string>
		<string>ubreve</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>udotbelow</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
	</array>
	<key>@MMK_R_KERN_w</key>
	<array>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
	</array>
	<key>@MMK_R_KERN_y</key>
	<array>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ygrave</string>
		<string>ytilde</string>
	</array>
	<key>@MMK_R_KERN_z_2ND</key>
	<array>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
		<string>zdotbelow</string>
	</array>
</dict>
</plist>
